:root {
  --blue-color: #1948ef;
  --orange-color: #ee6d21;
  --white-color: #ffffff;
}

.root {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

body {
  font-family: Arial, sans-serif;
  margin: 0 auto;
  padding: 10px;
  background-color: #f0f0f0;
}

.block {
  display: none;
  align-items: center;
  justify-content: center;
  margin-bottom: 1px;
  width: 100%;
  height: 100px;
  background-color: var(--orange-color);
  border-radius: 10px;
  color: var(--white-color);
}

.visible {
  display: flex;
}

.hidden {
  display: none;
}

.error {
  margin: 0;
  font-size: 14px;
  color: red;
}

.container {
  padding: 10px;
  width: 500px;
  max-width: 500px;
  height: 500px;
  background-color: #0047bb;
  border: 1px solid #141415;
  border-radius: 10px;
  overflow: hidden;
}

.button {
  padding: 10px 40px;
  margin: 0;
  border: none;
  border-radius: 5px;
  background-color: var(--blue-color);
  color: var(--white-color);
  transition: background-color 0.2s ease-in-out;
}

.button:hover {
  background-color: var(--orange-color);
}

.button:active {
  background-color: #e0641a;
}

.buttons-wrapper {
  display: flex;
  gap: 20px;
}

