:root {
  --blue-color: #1948ef;
  --orange-color: #ee6d21;
  --white-color: #ffffff;
}

.root {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}
